* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/back.png');
  background-size: 200%;
  font-family: 'Bellota Text', cursive;
  height: 100hv;  
  font-size: 20px;
}

@media (min-width: 400px) {
  body{
    font-size: 14px;
    justify-content: center;
  }

  .menu {
    width: 100vw;
  }
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: rgb(77,6,6);
  border-bottom: 3px solid darkorange;
  box-shadow: -4px 3px 20px 8px chocolate;
  border-bottom-style: inset;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
  font-weight: bold;
  font-size: 1.2em;
}

.menu a{
  display: block;
  padding: 10px 20px;
}

a {
  color: rgb(251,176,59);
  text-decoration: none;
}

.title {
  color:rgb(251,176,59);
  text-align: center;
  margin: 10px;
  font-size: 100px;
  font-family: 'Poppins', cursive;
}

.text, 
.contact {
  color:rgb(251,176,59);
}

.contact {
  margin-bottom: 500px;
}

ul li a:hover {
	background: rgba(1, 17, 90, 0.877);
	border-radius: 4px;
}